<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youxuan.eu.mapper.FragmentMapper" >
  <resultMap id="BaseResultMap" type="com.youxuan.eu.model.Fragment" >
    <id column="fragment_id" property="fragmentId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="picurl" property="picurl" jdbcType="VARCHAR" />
    <result column="linkurl" property="linkurl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.youxuan.eu.model.Fragment" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fragment_id, title, picurl, linkurl, create_time
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from fragment
    where fragment_id = #{fragmentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fragment
    where fragment_id = #{fragmentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="fragmentId" parameterType="com.youxuan.eu.model.Fragment" >
    insert into fragment (fragment_id, title, picurl, 
      linkurl, create_time, content
      )
    values (#{fragmentId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{picurl,jdbcType=VARCHAR}, 
      #{linkurl,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.youxuan.eu.model.Fragment" >
    insert into fragment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fragmentId != null" >
        fragment_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="picurl != null" >
        picurl,
      </if>
      <if test="linkurl != null" >
        linkurl,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fragmentId != null" >
        #{fragmentId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="picurl != null" >
        #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="linkurl != null" >
        #{linkurl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youxuan.eu.model.Fragment" >
    update fragment
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="picurl != null" >
        picurl = #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="linkurl != null" >
        linkurl = #{linkurl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where fragment_id = #{fragmentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.youxuan.eu.model.Fragment" >
    update fragment
    set title = #{title,jdbcType=VARCHAR},
      picurl = #{picurl,jdbcType=VARCHAR},
      linkurl = #{linkurl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where fragment_id = #{fragmentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youxuan.eu.model.Fragment" >
    update fragment
    set title = #{title,jdbcType=VARCHAR},
      picurl = #{picurl,jdbcType=VARCHAR},
      linkurl = #{linkurl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER}
    where fragment_id = #{fragmentId,jdbcType=INTEGER}
  </update>
</mapper>