<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youxuan.eu.mapper.IncubationMapper" >
  <resultMap id="BaseResultMap" type="com.youxuan.eu.model.Incubation" >
    <id column="incubation_id" property="incubationId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="incubation_type_id" property="incubationTypeId" jdbcType="INTEGER" />
    <result column="incubation_group_id" property="incubationGroupId" jdbcType="INTEGER" />
    <result column="province_id" property="provinceId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="shiyong" property="shiyong" jdbcType="VARCHAR" />
    <result column="acreage" property="acreage" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.youxuan.eu.model.IncubationWithBLOBs" extends="BaseResultMap" >
    <result column="picarr" property="picarr" jdbcType="LONGVARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    incubation_id, user_id, area_id, city_id, incubation_type_id, incubation_group_id, 
    province_id, title, shiyong, acreage, price, telphone, contact, create_time
  </sql>
  <sql id="Blob_Column_List" >
    picarr, content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from incubation
    where incubation_id = #{incubationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from incubation
    where incubation_id = #{incubationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="incubationId" parameterType="com.youxuan.eu.model.IncubationWithBLOBs" >
    insert into incubation (incubation_id, user_id, area_id, 
      city_id, incubation_type_id, incubation_group_id, 
      province_id, title, shiyong, 
      acreage, price, telphone, 
      contact, create_time, picarr, 
      content)
    values (#{incubationId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{areaId,jdbcType=INTEGER}, 
      #{cityId,jdbcType=INTEGER}, #{incubationTypeId,jdbcType=INTEGER}, #{incubationGroupId,jdbcType=INTEGER}, 
      #{provinceId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{shiyong,jdbcType=VARCHAR}, 
      #{acreage,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, #{telphone,jdbcType=VARCHAR}, 
      #{contact,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, #{picarr,jdbcType=LONGVARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.youxuan.eu.model.IncubationWithBLOBs" >
    insert into incubation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="incubationId != null" >
        incubation_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="incubationTypeId != null" >
        incubation_type_id,
      </if>
      <if test="incubationGroupId != null" >
        incubation_group_id,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="shiyong != null" >
        shiyong,
      </if>
      <if test="acreage != null" >
        acreage,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="telphone != null" >
        telphone,
      </if>
      <if test="contact != null" >
        contact,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="picarr != null" >
        picarr,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="incubationId != null" >
        #{incubationId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="incubationTypeId != null" >
        #{incubationTypeId,jdbcType=INTEGER},
      </if>
      <if test="incubationGroupId != null" >
        #{incubationGroupId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="shiyong != null" >
        #{shiyong,jdbcType=VARCHAR},
      </if>
      <if test="acreage != null" >
        #{acreage,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="picarr != null" >
        #{picarr,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youxuan.eu.model.IncubationWithBLOBs" >
    update incubation
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="incubationTypeId != null" >
        incubation_type_id = #{incubationTypeId,jdbcType=INTEGER},
      </if>
      <if test="incubationGroupId != null" >
        incubation_group_id = #{incubationGroupId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="shiyong != null" >
        shiyong = #{shiyong,jdbcType=VARCHAR},
      </if>
      <if test="acreage != null" >
        acreage = #{acreage,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        telphone = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="picarr != null" >
        picarr = #{picarr,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where incubation_id = #{incubationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.youxuan.eu.model.IncubationWithBLOBs" >
    update incubation
    set user_id = #{userId,jdbcType=INTEGER},
      area_id = #{areaId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      incubation_type_id = #{incubationTypeId,jdbcType=INTEGER},
      incubation_group_id = #{incubationGroupId,jdbcType=INTEGER},
      province_id = #{provinceId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      shiyong = #{shiyong,jdbcType=VARCHAR},
      acreage = #{acreage,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      telphone = #{telphone,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER},
      picarr = #{picarr,jdbcType=LONGVARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where incubation_id = #{incubationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youxuan.eu.model.Incubation" >
    update incubation
    set user_id = #{userId,jdbcType=INTEGER},
      area_id = #{areaId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      incubation_type_id = #{incubationTypeId,jdbcType=INTEGER},
      incubation_group_id = #{incubationGroupId,jdbcType=INTEGER},
      province_id = #{provinceId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      shiyong = #{shiyong,jdbcType=VARCHAR},
      acreage = #{acreage,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      telphone = #{telphone,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER}
    where incubation_id = #{incubationId,jdbcType=INTEGER}
  </update>
</mapper>