<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youxuan.eu.mapper.Partner_typeMapper" >
  <resultMap id="BaseResultMap" type="com.youxuan.eu.model.Partner_type" >
    <id column="partnertype_id" property="partnertypeId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    partnertype_id, title, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from partner_type
    where partnertype_id = #{partnertypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from partner_type
    where partnertype_id = #{partnertypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="partnertypeId" parameterType="com.youxuan.eu.model.Partner_type" >
    insert into partner_type (partnertype_id, title, create_time
      )
    values (#{partnertypeId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.youxuan.eu.model.Partner_type" >
    insert into partner_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="partnertypeId != null" >
        partnertype_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="partnertypeId != null" >
        #{partnertypeId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youxuan.eu.model.Partner_type" >
    update partner_type
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
    </set>
    where partnertype_id = #{partnertypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youxuan.eu.model.Partner_type" >
    update partner_type
    set title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER}
    where partnertype_id = #{partnertypeId,jdbcType=INTEGER}
  </update>
</mapper>