<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youxuan.eu.mapper.ProvinceMapper" >
  <resultMap id="BaseResultMap" type="com.youxuan.eu.model.Province" >
    <id column="province_id" property="provinceId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    province_id, title
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from province
    where province_id = #{provinceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from province
    where province_id = #{provinceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="provinceId" parameterType="com.youxuan.eu.model.Province" >
    insert into province (province_id, title)
    values (#{provinceId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.youxuan.eu.model.Province" >
    insert into province
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="title != null" >
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youxuan.eu.model.Province" >
    update province
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where province_id = #{provinceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youxuan.eu.model.Province" >
    update province
    set title = #{title,jdbcType=VARCHAR}
    where province_id = #{provinceId,jdbcType=INTEGER}
  </update>
</mapper>