
@charset "utf-8";
/* CSS Document */
 
.eu_shoucang_you{
	width:100%;
	height:570px;
	margin:0 auto;
	background-color:#FFF;
}
.eu_shoucang_you_One{
	width:100%;
	height:53px;
	font-size:20px;
	font-weight:700;
	padding-left:35px;
	padding-top:20px;
}
.eu_shoucang_you_Tow{
	width:100%;
	height:43.6px;
	border-bottom:1px solid #797979;
	border-top:1px solid #797979;
}
.eu_shoucang_you_Tow ul li{
	float:left;
	width:99px;
	height:43px;
	border-right:1px solid #797979;
	text-align:center;
	line-height:43px;
	color:#000;
}