.header{
    margin:20px;
    height:60px;
    
}
.title{
    
    background-image:url(../images/u54.png);
    height:32px;
    width:120px;
    line-height:32px;
    text-align:center;
    font-size:14px;
}
.content div{
   height:120px;
   width:120px;
   text-align:center;
   line-height:120px;
   border:1px solid #797979;
   margin :0 10px;
   float:left;
}

.content div a{
    color:#000;
}