@charset "utf-8";
/* CSS Document */

.container-fluid {
	width: 100%;
	height:auto;
	margin:0 auto;
	min-width:1200px;
	background-color:#F2F2F2;;
}
.header {
	width: 100%;
	height:50px;
	background-color: #C6C6C6;
	min-width: 1000px;
	float: left;
	display: block;
	z-index: 100;
	overflow: visible;
   background-color:#CCCCCC;
   border:1px solid #000;
}
.header_input input{
	width:4%;
	height:30px;
	border:none;
	background-color:#FFF;
	border:solid;
	margin-top:10px;
	border:1px solid #666;
	float:right;
}
.header_list{
	width:80%;
	height:1080px;
	margin:0 auto;
	background-color:#FFF;
}
.header_list_One{
	width:100%;
	height:130px;
	margin:0 auto;
	border:1px solid red;
}
.but{
	width:10%;
	height: 33px;
	margin-top:10px;
	float:right;
}
.header_list_One_select{
	float:left;
	width:50%;
	height:40px;
	margin-top:10px;
}
.header_list_One_select select{
	height:100%;
	float:left;
}
.header_list_One_select input{
	width:19%;
	height:100%;
}
.header_list_Three{
	width:100%;
	height:260px;
    text-align:center;
    border:1px solid #C6C6C6;
	background-color:#0FF;
}
.header_list_Four{
	width:100%;
	height:140px;
}
.header_list_Four_list{
	float:left;
	width:25%;
	height:100%;
	border:1px solid #666;
}
.header_list_Four_list_we_zuo{
	float:left;
	width:30%;
	height:80px;
	text-align:center;
}
.header_list_Four_list_we_zuo img{
	margin-top:30px;
	margin-left:5px;
}
.header_list_Four_list_we_you{
	float:right;
	width:66%;
	height:100%;
}
.header_list_Four_list_we_you h5{
	font-size:16px;
	font-weight:700;
	font-family:Arial, Helvetica, sans-serif;
}
.header_list_Five{
	width:100%;
	height:460px;
	background-color:#F2F2F2;
}
.header_list_Five_zuo{
	width:50%;
	height:100%;
	float:left;
	background-color:#F2F2F2;
}
.header_list_Five_zuo1{
	width:32%;
	height:65%;
	float:left;
	margin-top:33px;
}
.header_list_Five_zuo1_1{
	width:100%;
	height:200px;
	border:1px solid #6E6E6E;
	background-color:#FFF;
	text-align:center;
	border-radius:5px;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
	behavior: url(iecss3.htc)
}

.header_list_Five_zuo1_2{
	width:100%;
	height:100px;
	border:1px solid #6E6E6E;
	background-color:#FFF;
	margin-top:5px;
	text-align:center;
	border-radius:5px;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
	behavior: url(iecss3.htc)
}
.header_list_Five_zuo2{
	width:32%;
	height:65%;
	float:left;
	margin-top:33px;
	margin-left:5px;
}
.header_list_Five_zuo2_1{
	width:100%;
	height:100px;
	border:1px solid #6E6E6E;
	background-color:#FFF;
	text-align:center;
	border-radius:5px;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
	behavior: url(iecss3.htc)
}
.header_list_Five_zuo2_2{
	width:100%;
	height:94px;
	border:1px solid #6E6E6E;
	background-color:#FFF;
	margin-top:5px;
	text-align:center;
	border-radius:5px;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
	behavior: url(iecss3.htc)
}
.header_list_Five_zuo2_3{
	width:100%;
	height:100px;
	border:1px solid #6E6E6E;
	background-color:#FFF;
	margin-top:5px;
	
	text-align:center;
	border-radius:5px;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
	behavior: url(iecss3.htc)
}
.header_list_Five_zuo3{
	width:32%;
	height:65%;
	float:left;
	margin-top:33px;
	margin-left:5px;
}
.header_list_Five_zuo3_1{
	width:100%;
	height:100px;
	border:1px solid #6E6E6E;
	background-color:#FFF;
	text-align:center;
	border-radius:5px;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
	behavior: url(iecss3.htc)
}
.header_list_Five_zuo3_2{
	width:100%;
	height:200px;
	border:1px solid #6E6E6E;
	background-color:#FFF;
	text-align:center;
	border-radius:5px;
	margin-top:5px;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
	behavior: url(iecss3.htc)
}
.header_list_Five_you{
	width:50%;
	height:90%;
	float:right;
	background-color:#F2F2F2;
}
.header_list_Five_you1{
	width:32%;
	height:65%;
	float:left;
	margin-top:33px;
	margin-left:10px;
}
.header_list_Five_you1_1{
	width:100%;
	height:100px;
	border:1px solid #6E6E6E;
	background-color:#FFF;
	text-align:center;
	border-radius:5px;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
	behavior: url(iecss3.htc)
}

.header_list_Five_you1_2{
	width:100%;
	height:100px;
	border:1px solid #6E6E6E;
	background-color:#FFF;
	margin-top:5px;
	text-align:center;
	border-radius:5px;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
	behavior: url(iecss3.htc)
}
.header_list_Five_you1_3{
	width:100%;
	height:98px;
	border:1px solid #6E6E6E;
	background-color:#FFF;
	margin-top:5px;
	text-align:center;
	border-radius:5px;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
	behavior: url(iecss3.htc)
}
.header_list_Five_you2{
	width:32%;
	height:65%;
	float:left;
	margin-top:33px;
	margin-left:5px;
}
.header_list_Five_you2_1{
	width:100%;
	height:100px;
	border:1px solid #6E6E6E;
	background-color:#FFF;
	text-align:center;
	border-radius:5px;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
	behavior: url(iecss3.htc)
}
.header_list_Five_you2_2{
	width:100%;
	height:96.5px;
	border:1px solid #6E6E6E;
	background-color:#FFF;
	margin-top:5px;
	text-align:center;
	border-radius:5px;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
	behavior: url(iecss3.htc)
}
.header_list_Five_you2_3{
	width:100%;
	height:100px;
	border:1px solid #6E6E6E;
	background-color:#FFF;
	margin-top:5px;
	
	text-align:center;
	border-radius:5px;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
	behavior: url(iecss3.htc)
}
.header_list_Five_you3{
	width:31.8%;
	height:70%;
	float:right;
	margin-top:33px;
	margin-left:5px;
	
}
.header_list_Five_you3_1{
	width:100%;
	height:200px;
	border:1px solid #6E6E6E;
	background-color:#FFF;
	text-align:center;
	border-radius:5px;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
	behavior: url(iecss3.htc)
}
.header_list_Five_you3_2{
	width:100%;
	height:100px;
	border:1px solid #6E6E6E;
	background-color:#FFF;
	text-align:center;
	border-radius:5px;
	margin-top:5px;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
	behavior: url(iecss3.htc)
}
.footer{
	width:100%;
	height:100px;
	background-color:#C6C6C6;
	border:1px solid #333;
}
