@charset "utf-8";
/* 代码整理：懒人之家 */
ul, li {
	list-style-type:none;
}
.clear {
	clear:both;
*display:inline;/*IE only*/
}
/*menu*/
#menu {
	margin:0px auto;
	width:1000px;
	height:50px;
	float:left;
	margin-left:50px;
}
#nav {
		float:left;
}
#nav .mainlevel {
	float:left;
	background:#3f240e;
	text-align:center;
	display:block;
	height:49px;
}
#nav .mainlevel a {
	color:#fff;
	text-decoration:none;
	line-height:34px;
	height:49px;
	text-align:center;
	padding:0 20px;
	display:block;
	_width:48px;
}
#nav .mainlevel a:hover {
	color:#3f240e;
	text-decoration:none;
	background:#678900 url(../images/slide-pannel_14.png) 0 0 repeat-x;
}
#nav .mainlevel ul {
	position:absolute;
	display:none;
*width:2000px;/*IE is great need, width>=li.length*/
}
#nav .mainlevel li {
	float:left;
	background:#3f240e;
}
#nav .mainlevel li a {
	padding:0 12px;
	line-height:24px;
	height:24px;
	display:block;
	_padding-bottom:6px;/*IE6 only*/
}
#nav .mainlevel li a:hover {
	color:#3f240e;
	text-decoration:none;
	background:#678900 url(../images/slide-pannel_14.png) 0 0 repeat-x;
}
#nav li a em/*input an em tag as a space*/ {
	padding:0 3px;
}
/*LOGO*/
.note {
	color:#3f240e;
	background:#678900 url(../images/slide-pannel_14.png) 0 0 repeat-x;
	display:block;
	line-height:49px;
	padding:0 3em;
}
.Triangle_con {
	height:9px;
	background:url(../images/bird.png) 36px 0 no-repeat;
	display:block;
	_margin-bottom:-6px;/*IE6 only*/
}
.log {
	margin:100px auto;
	width:1000px;
	line-height:200%;
}
