
.container{
    width:1000px;
    padding:0px;
    margin :0 auto;
}

nav{
    height:40px;
    background:#80137d;
}
nav li{
    width:180px;
    float:left;
    line-height:40px;
    text-align:center;

}

/*footer{
    width:100%;
    height:40px;
    background:#ccc;
}*/
.content{
    width:1000px;
    height:500px;
    background:#7a731d;
    clear:both;
    margin-top:30px;
    margin:0px auto;
}
.site{
    height:50px;
    background:#5328a5;
    width:40%;
    margin-top:10px;
}
.header{
    height:40px;
    background:#cccccc;
    width:100%;
    float: left;
	display: block;

}

.header input{
    float:right;
  margin-top: 5px;
  height: 30px;

}

.LogoSearch{
    height:60px;
    margin-top:60px;
}

.Search{
    height:60px;
}

.Search div{
    margin:0 auto;
    text-align:center;
}
.Search div select{
    height:40px;
    width:120px;
    margin-right:-5px;
}
.Search div input{
    height:39px;
    padding:5px;
    width:300px;
    margin-top:-2px;
}
.Search div button{
    height:39px;
    margin-left:-5px;
    width:80px;
}

.logo{
    width:25%;
    background:#00ff90;
    height:120px;
}

.left{
    float:left;
}
.right{
    float:right;
}